In [ ]:
print("Welcome to EDA lab")

Welcome to EDA lab

# Exploratory Data Analysis
## A-2 Batch
### First Lab

In [ ]:
a = 10
b = 0
print(a+b)

10

#Basic-Programs-experiment-1

In [ ]:
# First Python code
print("Hello World")

Hello World

In [ ]:
#Many-Statments
print("Hello World")
print("Have a good day")
print("Learning python is fun ")

# Many Prints in one-line
print("Hello World","Have a good day","Learning python is fun"); print("How are u feeling today") ; print("Have a nice day")

Hello World
Have a good day
Learning python is fun
Hello World Have a good day Learning python is fun
How are u feeling today
Have a nice day

In [ ]:
i = 5
j= 7
print(i+j)
print(i-j)
print(i*j)
print(i/j)
print(i%j)
#Simple addition, subtraction , division , multiplication

12
-2
35
0.7142857142857143
5

# variables
x= 5
y ="hello World"

print(x)
print(y)

In [ ]:
a = 4
A = "sally"
print(a)
print(A)

4
sally

In [ ]:
x,y,z = "Orange","Banana","Cherry"
print(x)
print(y)
print(z)
print("")

print("Orange\nBanana\nCherry")

Orange
Banana
Cherry

Orange
Banana
Cherry

In [ ]:
#Understanding data-types
x = 10
y=3.14
z= "Pythion"
A = True
c = 3+2j
D = ["hello",4,5.6]
print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(c))
print(type(D[2]))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'float'>

In [2]:
#Simple input
name = input("Enter your name")
age = int(input("Enter your age"))
print("Hello",name,"your age is",age)
print(name)

Enter your namepo
Enter your age23
Hello po your age is 23
po

In [ ]:
#Complex input
marks = list(map(int,input("Enter your marks in Chemistry, Maths and Physics").split()))
print(marks)
print("your average marks are :"+ str(sum(marks)/3))

Enter your marks in Chemistry, Maths and Physics12 34 56
[12, 34, 56]
your average marks are :34.0

In [ ]:
# Area of the Circle
r = float(input("Enter the radius of the circle"))
area = 3.14*r*r
print("Area of the circle is",area)

Enter the radius of the circle23
Area of the circle is 1661.06

In [1]:
#Simple calculator
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
operation = input("Enter the operation")
if operation == "+":
  print(a+b)
if operation =="-":
  print(a-b)
if operation =="x":
  print(a*b)
if operation == "/":
  print(a/b)
if operation == "":
  print("no output")
  print("decide what u wanna do and then try again!")

Enter the first number12
Enter the second number32
Enter the operation
no output
decide what u wanna do and then try again!