#Practical -3
##Study of lists in Python
##Name-Bedang das
###PRN 25070123031
###Batch-A2

In [ ]:
## python list
list_1 = ["Check1",1999,5.34,True,"OP","OP"]
print(list_1)
print(len(list_1))
print(type(list_1[3]))
print(list_1[0])
b=list_1.pop(3)
print(b)
print(list_1)
print(len(list_1))

['Check1', 1999, 5.34, True, 'OP', 'OP']
6
<class 'bool'>
Check1
True
['Check1', 1999, 5.34, 'OP', 'OP']
5

In [ ]:
#Length of the list
print(len(list_1))

5

In [ ]:
#Type of the list
print(type(list_1[3]))

<class 'str'>

In [ ]:
##Popping and making a new list
b=list_1.pop(3)
print(b)
print(list_1)
print(len(list_1))

OP
['Check1', 1999, 5.34, 'OP']
4

In [ ]:
#A list with boolean values
list_2 = [True,False,False,True]
print(list_2)

[True, False, False, True]

In [ ]:
#Access items
list_3 = ["apple","samsung",5.67,"pop"]
print(list_3[1:3])

['samsung', 5.67]

In [ ]:
#Reverse the list
list_4 = ["pop1","pop2","pop3","pop4"]
print(list_4[::-1])

print(list_4[-2]) #Negative index

['pop4', 'pop3', 'pop2', 'pop1']
pop3

In [ ]:
#Slicing the list
list_5 = ["apple","pop","rocket","james bond",234]
print(list_5[2:4])
print(list_5[2:])
print(list_5[::-1])
print(list_5[1:len(list_5)])
print(list_5[:1:-1]) #Last 3 items using reverse index so that it looks coorect

print(list_5[-2:])#reverse the list

['rocket', 'james bond']
['rocket', 'james bond', 234]
[234, 'james bond', 'rocket', 'pop', 'apple']
['pop', 'rocket', 'james bond', 234]
[234, 'james bond', 'rocket']
['james bond', 234]

In [ ]:
#replace elements in the list
list_6 = ["pop1","pop2","pop3","pop4"]
list_6[2]="popper"
print(list_6)

#Adding an element
list_6.append("black_current")
print(list_6)

#Adding a list
list_7=["pop8","pop9"]
list_6.extend(list_7)
print(list_6)

['pop1', 'pop2', 'popper', 'pop4']
['pop1', 'pop2', 'popper', 'pop4', 'black_current']
['pop1', 'pop2', 'popper', 'pop4', 'black_current', 'pop8', 'pop9']

In [ ]:
#Adding a new item inbetween
list_8 = ["pop1","pop2","pop3","pop4"]
list_8.insert(1,"checker")
print(list_8)

list_8.clear()
print(list_8)

['pop1', 'checker', 'pop2', 'pop3', 'pop4']
[]

In [ ]:
5 in [5,6,7,8,9,0]

True

In [ ]:
list = ("-poper-")*4
print(list)
list = ("no")*20
print(list)
#

-poper--poper--poper--poper-
nononononononononononononononononononono

In [ ]:
#Exaples of slicing
number = [10,20,30,40,50]
print("The frist 3 numbers are :",number[0:3])
print("the Frist number:",number[0])
print("the List in reverse",number[::-1])

The frist 3 numbers are : [10, 20, 30]
the Frist number: 10
the List in reverse [50, 40, 30, 20, 10]

In [ ]:
student_mark = [12,23,24,15,15,67,53,87,34,86,43,67,24]
print("The highest marks scored is:",max(student_mark))
print("The lowest marks scored is:",min(student_mark))
print("The average marks scored is:",(sum(student_mark))/len(student_mark))

print("The total marks in ascending order is:",sorted(student_mark))

student_mark.sort()
print("The total marks in ascending order is ",student_mark)

print("The total marks in descending order is:",sorted(student_mark,reverse=True))

The highest marks scored is: 87
The lowest marks scored is: 12
The average marks scored is: 42.30769230769231
The total marks in ascending order is: [12, 15, 15, 23, 24, 24, 34, 43, 53, 67, 67, 86, 87]
The total marks in ascending order is  [12, 15, 15, 23, 24, 24, 34, 43, 53, 67, 67, 86, 87]
The total marks in descending order is: [87, 86, 67, 67, 53, 43, 34, 24, 24, 23, 15, 15, 12]

In [ ]:
#make a grocerry list
list_subji = ["milk","potato","Bhindi","pumpkin","coke","loki","tomato","mango"]
new_list = ["Brinjal","Onion","cheese","glue_stick"]

#To ADD NEW LIST
final_list=list_subji+new_list
print(final_list)

#This is another method to add the list

final_list.extend(new_list)
print(final_list)

#Removes the newly added things in the list
del final_list[0:4]

print(final_list)

['milk', 'potato', 'Bhindi', 'pumpkin', 'coke', 'loki', 'tomato', 'mango', 'Brinjal', 'Onion', 'cheese', 'glue_stick']
['milk', 'potato', 'Bhindi', 'pumpkin', 'coke', 'loki', 'tomato', 'mango', 'Brinjal', 'Onion', 'cheese', 'glue_stick', 'Brinjal', 'Onion', 'cheese', 'glue_stick']
['coke', 'loki', 'tomato', 'mango', 'Brinjal', 'Onion', 'cheese', 'glue_stick', 'Brinjal', 'Onion', 'cheese', 'glue_stick']

In [ ]:
#To make a contact list and operate in it
contact_list = ["POP","rock","okoko","john","pppepe"]

contact_list.append("James_bond")
print(contact_list)

contact_list.insert(2,"Ethan_Hunt")
print(contact_list)

contact_list.remove("rock")
print(contact_list)

contact_list.sort()
print(contact_list)

['POP', 'rock', 'okoko', 'john', 'pppepe', 'James_bond']
['POP', 'rock', 'Ethan_Hunt', 'okoko', 'john', 'pppepe', 'James_bond']
['POP', 'Ethan_Hunt', 'okoko', 'john', 'pppepe', 'James_bond']
['Ethan_Hunt', 'James_bond', 'POP', 'john', 'okoko', 'pppepe']

In [ ]:
#Temperature of a city analysis
temp_list = [12,23,24,15,15,17,33,17,34,26]
print("The highest temperature is:",max(temp_list))
print("The lowest temperature is:",min(temp_list))
print("The average temperature is:",(sum(temp_list))/len(temp_list))
print("the Sum of temperature :",sum(temp_list))

print("the temperature of the last 5 days :",temp_list[-5:])
print("the temperature of the first 5 days :",temp_list[:5])

The highest temperature is: 34
The lowest temperature is: 12
The average temperature is: 21.6
the Sum of temperature : 216
the temperature of the last 5 days : [17, 33, 17, 34, 26]
the temperature of the first 5 days : [12, 23, 24, 15, 15]