#OPERATIONS ON TUPLE()
###Bedang Das 25070123031

In [ ]:
#Tuple oprations
this_tuple = ("apple", "banana", "cherry")
print(this_tuple)

print(this_tuple[0])

this_tuple[0]="blackCurrent"
print(this_tuple)

print(this_tuple[0])

('apple', 'banana', 'cherry')
apple

TypeError: 'tuple' object does not support item assignment

In [ ]:
# addition of tuples
tupleq = (1,2,3)
tuple2 = (3,5,6)
print(tupleq + tuple2)

(1, 2, 3, 3, 5, 6)

In [ ]:
#address verification of tuples

tut_1 = ("apple","pinapple","Cherry","banana")
print("before:",id(tut_1))

tut_2=("orange",)
print("before:",id(tut_2))


tut_1 += tut_2
print(tut_1)
print("after:",id(tut_1))

list_1=["apple","banan","cherry","pinaaple"]
print("before id :",id(list_1))

list_2=["orange"]
print("before id :",id(list_2))

list_1 += list_2
print(list_1)
print("After:",id(list_1))

before: 133178000047168
before: 133178008808768
('apple', 'pinapple', 'Cherry', 'banana', 'orange')
after: 133178408878704
before id : 133177999881856
before id : 133178001124928
['apple', 'banan', 'cherry', 'pinaaple', 'orange']
After: 133177999881856

In [ ]:
##problem statement-1 Student attendence
attendence = ("P","A","P","P","A")
print("Total present days:",attendence.count("P"))
print("Total absent days:",attendence.count("A"))

if "A" in attendence:
  print("Student is fail")
else:
  print("Student is pass")

Total present days: 3
Total absent days: 2
Student is fail

In [2]:
# Problem Statement - 2 - Student Mark Analysis

data = ("Maths", 90, "A")
print("Subject: ", data[0])
print("Marks: ", data[1])
print("Grade: ", data[2])
if (data[1] > 75):
  print("The Student has Acheieved 'Distinction'")

Subject:  Maths
Marks:  90
Grade:  A
The Student has Acheieved 'Distinction'