#Experiment-5
##Title-To-Study sets and Dictionaries in Python

###Name- Bedang Das
###PRN- 25070123031
###Batch - A2
####Date - 27/01/2026

In [ ]:
#Creation of sets
set1 = {"Apple","oranges","banana","pajamas","cars","helicopters","popper"}
print(set1)

#duplicates are not allowed
set1 = {"Apple","oranges","banana","pajamas","cars","helicopters","popper","Apple"}
print(set1)

#The value True and 1 are considered the same calue in set, and are the
thisset = {"Apple","oranges","banana","pajamas","cars","helicopters","popper",False,0,1,2}
print(thisset)

{'pajamas', 'banana', 'cars', 'helicopters', 'popper', 'Apple', 'oranges'}
{'pajamas', 'banana', 'cars', 'helicopters', 'popper', 'Apple', 'oranges'}
{False, 1, 2, 'popper', 'oranges', 'Apple', 'pajamas', 'banana', 'helicopters', 'cars'}

In [ ]:
#Set allows all types of data set
set1 = {"pop",10.54,True,34}
print(set1)

{True, 10.54, 34, 'pop'}

In [ ]:
#CHEcking the set
seet = {"Apple","oranges","banana","pajamas","cars","helicopters","popper"}
print("banana" in seet)
if "banana" in seet:
  print("Yes,'banana' is in the set")
if "mango" not in  seet:
  print("No,'mango' is not in the set")

True
Yes,'banana' is in the set
No,'mango' is not in the set

In [ ]:
#In set we cannot replace items however we can add new items
set1 = {"Apple","oranges","banana","pajamas","cars","helicopters","popper"}
##set1[1] = "mango"
##print(set1)

#NOW TO ADD
set1.add("mango")
print(set1)

#Remove items
if "pajamas" in set1:
  print("Yes,'pajamas' is in the set, so we are removing it ")
  set1.remove("pajamas")
  print(set1)

{'pajamas', 'mango', 'banana', 'cars', 'helicopters', 'popper', 'Apple', 'oranges'}
Yes,'pajamas' is in the set, so we are removing it
{'mango', 'banana', 'cars', 'helicopters', 'popper', 'Apple', 'oranges'}

In [ ]:
#Set operations on set
set1 = {"Apple","oranges","banana","pajamas","cars","helicopters","popper"}
set2 = {"Apple","oranges","banana","pajamas","cars","helicopters","popper","mango"}

#Union
print("Union:",set1|set2)

#Intersection
print("Intersection:",set1&set2)

#Difference
print("Difference:",set1-set2)

#Symmetric Difference
print("Symmetric Difference:",set1^set2)

Union: {'mango', 'popper', 'Apple', 'oranges', 'pajamas', 'banana', 'helicopters', 'cars'}
Intersection: {'popper', 'Apple', 'oranges', 'pajamas', 'banana', 'helicopters', 'cars'}
Difference: set()
Symmetric Difference: {'mango'}

In [ ]:
#Frozen-set
check_1 = frozenset(["Apple","oranges","banana","pajamas","cars","helicopters","popper"])
print(check_1)
print(type(check_1))

frozenset({'popper', 'Apple', 'oranges', 'pajamas', 'banana', 'helicopters', 'cars'})
<class 'frozenset'>

In [ ]:
#Adding or removal of elements in frozen-set(not possible)
check_1 = frozenset(["Apple","oranges","banana","pajamas","cars","helicopters","popper"])
check_1.add("mango")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#how to add elements in frozen-set
check_1=frozenset({"Apple","oranges","banana","pajamas","cars","helicopters","popper"})
check_2 = frozenset(["mango"])
print("Union:",check_1|check_2)

Union: frozenset({'pajamas', 'mango', 'banana', 'cars', 'helicopters', 'popper', 'Apple', 'oranges'})

In [ ]:
#Problem-statement-1 " multiple registrations, display only unique candidates name "
list_1={"rehman","James_bond","abbu daikait","ethan-hunt","shawn","ethan-hunt","abbu daikait"}
print("the unique names are ",list_1)
list_2=["pop","Rock","pop","kareena","alia","shah","priyanka","priyanka","alia"]
list_3=set(list_2)
print("the unique names are ",list_3)

the unique names are  {'abbu daikait', 'rehman', 'shawn', 'ethan-hunt', 'James_bond'}
the unique names are  {'Rock', 'kareena', 'shah', 'priyanka', 'alia', 'pop'}

In [ ]:
# Problem statement - 2 to find the common subject
bond = {"maths","dcld","pes","iks","eg","feee","c-programming"}
ethan = {"physics","dcld","pes","eg","python","gk"}
james={"game-development","pes","eg","python","dcld"}

print("the common subjects are :",bond&ethan&james)

the common subjects are : {'pes', 'dcld', 'eg'}

In [ ]:
#Problem statement -3 find students in both clubs and only in one club
club_1={"rehamn","ismail","bismillah","qureshi","abdullah","daikait"}
club_2={"rehamn","qureshi","mangoo","lahori","abdullah","omama","daikait"}
print("the students in both clubs are :",club_1&club_2)
print("the students in only one club are :",club_1^club_2)

the students in both clubs are : {'abdullah', 'daikait', 'rehamn', 'qureshi'}
the students in only one club are : {'omama', 'mangoo', 'bismillah', 'lahori', 'ismail'}

In [ ]:
#Problem-statement -4 find the number of student present
original_list = {"rahul","ethan","simon","ksi","rock"}
present_list={"rahul","ksi","captian-america"}

absent_list=set(original_list)-set(present_list)
print("the number of students absent are :",len(absent_list))

the number of students absent are : 3

In [ ]:
#Problem-statement-5: remove invalid entries
valid_course={547,234,63,245,356,544,756}
invalid_course={547,245,63}
print("the  invalid valid courses are :",invalid_course)
print("---------removing the invalid courses---------")
new_corses=valid_course-invalid_course
print("the valid courses are :",new_corses)

#remove only the most invalid course
print("---------removing the most invalid courses---------")
new_corses_1=valid_course.remove(63)
print("the valid courses are :",new_corses_1)

the  invalid valid courses are : {547, 245, 63}
---------removing the invalid courses---------
the valid courses are : {544, 234, 356, 756}
---------removing the most invalid courses---------
the valid courses are : None

#Operations in Dictionary
##Part-2

In [4]:
# Creation of Dictionary

stu_data = {
    "Name": "Bedang Das", "PRN" : 25070123031, "Batch": "A2", "branch": "ENTC"
}
print(stu_data)

##dict1  # printing without using the print keyword

{'Name': 'Bedang Das', 'PRN': 25070123031, 'Batch': 'A2', 'branch': 'ENTC'}

In [5]:
# Retrieving values from Dictionary

stu_data = {
    "Name": "Bedang das", "PRN" : 25070123031, "Batch": "A2", "branch": "ENTC"
}
print("The PRN of the student is : ", stu_data["PRN"])

The PRN of the student is :  25070123031

In [6]:
# Dictionary takes the latest value for key. It will not allow duplicates

stu_data = {
    "Name": "Bedang das", "PRN" : 25070123031, "Batch": "A2", "branch": "ENTC", "Marks": 90, "Marks": 95
}
print("The latest Dictionary is: \n", stu_data)

The latest Dictionary is:
 {'Name': 'Bedang das', 'PRN': 25070123031, 'Batch': 'A2', 'branch': 'ENTC', 'Marks': 95}

In [7]:
# Length of key value pairs

print("The number of elements in this dictionary is: ", len(stu_data))

The number of elements in this dictionary is:  5

In [8]:
# Changing or adding key vale pairs in dictionary

stu_data = {
    "Name": "Bedang das", "PRN" : 25070123031, "Batch": "A2", "branch": "ENTC"
}
stu_data["Year"] = 2025
print("Updated Student data : \n", stu_data, "\n")

print("The values of the dictionary: \n", stu_data.values()) # printing only the values

Updated Student data :
 {'Name': 'Bedang das', 'PRN': 25070123031, 'Batch': 'A2', 'branch': 'ENTC', 'Year': 2025}

The values of the dictionary:
 dict_values(['Bedang das', 25070123031, 'A2', 'ENTC', 2025])

In [10]:
# Retrieval of  values

brand = {"Puma" : "Shoes", "Nike" : "Spikes", "Gucci" : "Clothing", "Sonata" : "Watches"}
print("Sonata", brand["Sonata"])

Sonata Watches

In [11]:
# Adding and Updating Values

stu_data = {
    "Name": "Bedang das", "PRN" : 250701231031, "Batch": "A2", "branch": "ENTC"
}
stu_data["Year"] = 2025
stu_data["branch"] = "CSE"
print("Updated Student data : \n", stu_data, "\n")

Updated Student data :
 {'Name': 'Bedang das', 'PRN': 250701231031, 'Batch': 'A2', 'branch': 'CSE', 'Year': 2025}

In [12]:
# Removing Elements

stu_data.pop("Batch")
print("After Removal of the elements: \n", stu_data)

After Removal of the elements:
 {'Name': 'Bedang das', 'PRN': 250701231031, 'branch': 'CSE', 'Year': 2025}

In [13]:
''' Problem Statement - 1 - A Dictionary stores product name and their prices.
Write a python Program to update the price of a given product.'''

product = {"Rice" : 1050, "Oil" : 750, "Water Bottle": 400, "Notebook" : 100,
           "Pens" : 50, "Markers" : 50}
print("Original List: \n", product, "\n")
product["Pens"] = 30
print("Updated list: \n", product)

Original List:
 {'Rice': 1050, 'Oil': 750, 'Water Bottle': 400, 'Notebook': 100, 'Pens': 50, 'Markers': 50}

Updated list:
 {'Rice': 1050, 'Oil': 750, 'Water Bottle': 400, 'Notebook': 100, 'Pens': 30, 'Markers': 50}

In [14]:
''' Problem Statement - 2 - Write a Python Program to search for a student's marks using the name
entered, if the student is not found, Display a suitable message'''

marks = {"Lehalyaa" : 90, "Aditi" : 95, "Gayatri" :90, "Bedang" : 93, "Arjit" : 65, }
name = input("Enter the name of the student: ")

if name in marks:
    print("The marks of", name, "are", marks[name])
else:
    print("The student name isn't present in the Directory")

Enter the name of the student: pop
The student name isn't present in the Directory

In [15]:
# Problem statement - 2  using get() function

name = input("Enter the name of the student: ")
print(marks.get(name, "Student Name not found in the Directory"))

Enter the name of the student: pop
Student Name not found in the Directory

In [16]:
''' Problem Statement - 3 - A Ditionary stores usernames and passwords. Write a
Python program to validate user login'''

user_pass = {"Lehalyaa" : 123456, "Aditi0" : "cutie_pie", "Gayatri" : "ping_pong", "Arjit" : 98416647}
user = input("Enter the username: ")
password = input("Enter the password: ")

if user in user_pass:
  if user_pass[user] == str(password) or user_pass[user] == int(password):
    print("\n Username and Password are verified, Login Successful")
  else:
    print("\n Password is Incorrect, Re- enter")
else:
  print("\n Both Username and password are incorrect")

Enter the username: pop
Enter the password: 1234

 Both Username and password are incorrect

In [17]:
''' Problem Statement - 4 - A Dictionary stores student names and marks. Write a
Python program to find the student who scored the highest marks'''

marks = {"Lehalyaa" : 90, "Aditi" : 95, "Gayatri" :90, "Bedang" : 93, "Arjit" : 65, }
max_stu = max(marks, key = marks.get)
print("Student with Highest marks: ", max_stu)
print("The highest marks are: ", marks[max_stu])

Student with Highest marks:  Aditi
The highest marks are:  95