#Title - Loops in Python

##Name -Bedang Das
##Prn -25070123031
##Batch-A2

##While Continue

In [ ]:
#Print numbers from 1-10 and skip 5
for i in range(1,11):
  if i==5:
     continue
     i=i+5
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
i = 0
while i < 10:
    i += 1
    if i == 5:
        continue  # Skip the print statement when i is 3
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
#Print only odd numbers upto the enterned number
number = int(input("Enter a number: "))
i=0
while i  < number:
  i=i+1
  if i%2==0:
    continue
  print(i)

Enter a number: 1
1

#For Loop
## A loop is used to repeat a block of code for each element in a sequence (like range,list,string)

In [ ]:
##Printing the numbers if input is oodd then even number vice versa
number1 = int(input("Enter the number till where u want"))
if number1%2==0:
  print("The odd number")
  for i in range(1,number1,2):
    print(i)
if number1%2!=0:
  print("the Even numbers are")
  for i in range(0,number1,2):
    print(i)

Enter the number till where u want12
The odd number
1
3
5
7
9
11

In [ ]:
#Printing all the even number from 1-10 using rance
i=0
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
#To find the sum of the

In [ ]:
A =  [[1,2,3],
      [4,5,6],
      [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j],end="")
  print()

123
456
789

In [ ]:
#Write a code for martrix multiplication

A=[[1,2,3],[4,5,6],[1,2,3]]
B=[[9,8,7],[6,5,4],[3,2,1]]

result = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j]+=A[i][k]*B[k][j]

print("Product of the matrices")
for row in result:
  print(row)

Product of the matrices
[30, 24, 18]
[84, 69, 54]
[30, 24, 18]

In [ ]:
#if 3 numbers are given then print all the possible cominations
d1= 1
d2=2
d3=3
d=[d1,d2,d3]

#123.132,213,231,312
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(d[i]!=d[j] and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
#Check if the number is Armstrong number

num = int(input("Enter a number: "))
print(num)
check=0

for i in str(num):
  check+= int(i)**len(str(num))

if check==num:
    print("The number is armstrong")
else:
    print("Number is not armstrong")

Enter a number: 1
1
The number is armstrong

In [ ]:
#Find the number of prime numbers between entered digits
start_num=int(input("Enter the start number"))
end_num = int(input("enter the number till where  want "))
count=0
for i in range(start_num,end_num):
  for  j in range(start_num,i):
    if (i%j==0):
      break
    else:
      print(i)


print("the prime number",count)

Enter the start number12
enter the number till where  want 12
the prime number 0

In [ ]:
n =5
for i in range (0,n):
  print(i*" ",(n-i)*"$ ",)

 $ $ $ $ $
  $ $ $ $
   $ $ $
    $ $
     $

In [ ]:
#Make inverted pyramid
n=5
for i in range(0,n+1):
  print((n-i)*" "+(i+1)*'$ ')

     $
    $ $
   $ $ $
  $ $ $ $
 $ $ $ $ $
$ $ $ $ $ $

In [ ]:
#Floyds triangle: using only 1 number
n =5
num=1

for i in range(1,n):
  for j in range(0,i):
    print(num,end=" ")


  print()

1
1 1
1 1 1
1 1 1 1

In [ ]:
#Pascal's triangle
n = 5

In [ ]:
#Right angle inverted triangle
for i in range(5,0,-1):
  print("")
  print(" * "*i)

 *  *  *  *  *

 *  *  *  *

 *  *  *

 *  *

 *

In [1]:
# Print Hour glass:

n = 5
for i in range(n):
  print(i * ' ',(n-i) * ' $')
for i in range(n):
  print((n-i) * ' ',(i+1) * '$ ')

  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $
      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $

In [2]:
# Write a Python code for Inverted Right angle Triangle pattern:

for i in range(5 , 0 , -1):
  print(i * '$ ')

$ $ $ $ $
$ $ $ $
$ $ $
$ $
$