#Experiment-9
#Title-Using Pandas in Python
##Name-Bedang Das
##PRN-25070123031
##Batch-A2

In [ ]:
#Importing Pandas in python
import pandas as pd

s=pd.Series([1,2,3,4,5])
print(s)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Create dataframe
data=pd.DataFrame({'Name':['Bedang','pop',"jamesbond"],"Marks":[90,39,97]})
data
print(data)

        Name  Marks
0     Bedang     90
1        pop     39
2  jamesbond     97

In [ ]:
#The Structure of dataframe
print("The number of shapes and columns is ",data.shape)

The number of shapes and columns is  (3, 2)

In [ ]:
#How many total number of elements in table
print("The total number of elements in table is ",data.size)

The total number of elements in table is  6

In [ ]:
#Display the coloumn name :
print("The coloumn name is ",data.columns)
print("The Row name is ",data.index)

The coloumn name is  Index(['Name', 'Marks'], dtype='object')
The Row name is  RangeIndex(start=0, stop=3, step=1)

In [ ]:
#Check data types in each coloumns
print("The data types in each coloumns is ")
print(data.dtypes)

The data types in each coloumns is
Name     object
Marks     int64
dtype: object

In [ ]:
#Acess individual columns
data["Name"]

0       Bedang
1          pop
2    jamesbond
Name: Name, dtype: object

In [ ]:
#Acess individual row name:
data.loc[1]

Name     pop
Marks     39
Name: 1, dtype: object

In [ ]:
print(data.iloc[0])

Name     Bedang
Marks        90
Name: 0, dtype: object

In [ ]:
#Add a new column:
data["Grade"]=["A","B","A+"]
data

        Name  Marks     3 Grade
0     Bedang     90  Rock     A
1        pop     95    64     B
2  jamesbond     97     B    A+

In [ ]:
#update the DataFrame
data.loc[1,"Marks"]=95
data

        Name  Marks Grade     3
0     Bedang     90     A  Rock
1        pop     95     B    64
2  jamesbond     97    A+     B

In [ ]:
#Delete the column
data.drop('Grade',axis=1,inplace=True)
data

        Name  Marks     3
0     Bedang     90  Rock
1        pop     95    64
2  jamesbond     97     B

In [ ]:
#delete the last row in column
data.drop(2,axis=0,inplace=True)
data

     Name  Marks     3
0  Bedang     90  Rock
1     pop     95    64

In [ ]:
#Perform the basic statistical analysis
mean1=data["Marks"].mean()
mean1
print("")
print("the minimum and maximum value ",data["Marks"].min,data['Marks'].max)
print()
print("the mode is ",data["Marks"].mode())
print("")
print("the standard deviation is ",data["Marks"].std())
print("")
print("the median is ",data["Marks"].median())

the minimum and maximum value  <bound method Series.min of 0    90
1    95
Name: Marks, dtype: int64> <bound method Series.max of 0    90
1    95
Name: Marks, dtype: int64>

the mode is  0    90
1    95
Name: Marks, dtype: int64

the standard deviation is  3.5355339059327378

the median is  92.5

In [ ]:
#Apply the condition
#Display the student scoring more than 80

data[data["Marks"]>80]

     Name  Marks     3
0  Bedang     90  Rock
1     pop     95    64

In [ ]:
#